/* 

write your code here

*/
@media print {
    #about,
    #ideas,
    #contact,
    .tm-sidebar,
    .blocks,
    .heading,
    .img-contact-us,
    section::before {
    display: none;
    }
    
    .container {
    width: 80%;
    }
    
    .container .tm-section-title {
    color: blue;
    }
    
    .container img[src="img/epam-mexico.jpg"] {
    width: 1000px;
    height: 250px;
    }
    
    p {
    text-indent: 30px;
    }
    
    p::first-letter {
    color: darkgrey;
    font-size: 30px;
    }
    
    h2+p {
    font-style: italic;
    }
    
    .tm-banner {
    padding: 30px;
    border: none;
    }
}
/*Task No. 1*/
.flex-2-col:first-child {
    display: flex;
    align-items: center;
}
/*Task No. 2*/
.box-bg:hover{
    color: white;
    font-weight: bold;
    background-color: rgb(79, 133, 203);
}

/*Task No. 3*/

p::first-letter{
    font-size: 30px; 
   color: lightskyblue;
}

/*Task No. 4*/

.tm-content-box {
    box-shadow: inset 0 0 10px grey;
}
.tm-banner{
    border: 3px solid grey;}
    
.tm-banner-text p{
   font-style:normal;
}    
.tm-main-nav{
    box-shadow: inset 0 0 10px grey;
}

/*Task No. 5*/

.tm-section-title{
    color: gainsboro;
    letter-spacing: 5px;
}
/*Task Number6*/
p:first-of-type{
    font-style: italic;
}
/*Task Number 7*/
p:not(.tm-banner-text){
   text-indent: 35px;
   line-height: 2.5em;
}

/*Task Number 8*/
.ol li a:visited{
    text-decoration: underline;
}
ol li a:hover {
    color: #87CEFA;
    text-decoration: underline;
    text-decoration-style: double;
    }
ol li .text::after{
    content:"New";
    color: red;
    vertical-align: super;
}
/*Task Number 9*/
.box-work{
    padding: 10px;
}
.box-work p::first-letter{
    font-size: 200%;
    color: grey;
}
.box-work p {
    text-indent: 0;
    }
.box-work:nth-child(even) {
        background-color: #F5F5F5;
}
/*Task Number 10*/

.tm-content-box .mandatory-field::after{
    content:"*";
    color: red;
    font-weight: bold;
}
.submit-btn {
    width: 150px;
    height: 50px;
    display: block;
    margin-left: auto;
    color: #87CEFA;
    background-color: white;
    border-radius: 0;
    border: #87CEFA solid 1px;
    }
.submit-btn:hover{
    border: 1px #87CEFA;
    color:rgb(72, 72, 106)
}
/*Task Number 11*/

.tm-nav-item:hover{
    background-color: grey;
}